In [1]:
import pandas as pd
import numpy as np

In [2]:

df = pd.read_csv('/home/bowen/Documents/Rod_manipulation/Flexible-Tool/data_2.csv', sep = " ", names = ['name', 'value'])

In [3]:

df.dropna(inplace = True)
df

       name                                              value
0         a  [0.6152792  0.57624728 0.97183159 0.30227324 0...
1         q  [[1.0, 0.99996588008, 0.99989695401, 0.9997925...
2     det_J  [0.0, 0.0, 0.0, 0.0, -2.53263925567196e-87, 2....
3         a  [0.42157321 0.04321076 0.28883865 0.53631535 0...
4         q  [[1.0, 0.99999984126, 0.99999948152, 0.9999988...
...     ...                                                ...
2995      q  [[1.0, 0.99991970255, 0.99975684995, 0.9995091...
2996  det_J  [0.0, 0.0, 0.0, 0.0, 1.4138451607417442e-86, -...
2997      a  [0.18525751 0.06743073 0.86360801 0.0865571  0...
2998      q  [[1.0, 0.99999969828, 0.9999992522, 0.99999881...
2999  det_J  [0.0, 0.0, 0.0, 0.0, 5.221002520645936e-85, 1....

[3000 rows x 2 columns]

In [4]:
df2 = pd.DataFrame()
for r in range(len(df)):
    if r % 3 == 0:
        df0 = df.iloc[r,1:]
        df0.value
        df0 = df0.str.strip('[[[ ')
        df0 = df0.str.strip('[]')
        df0 = df0.value.split()
        df0 = np.array(df0,dtype=float)
        df2 = df2.append(pd.DataFrame(df0))

In [5]:
df2.head(12)
df2.shape

(6000, 1)

In [6]:
df2.shape

(6000, 1)

In [7]:
df3 = pd.DataFrame()
for i in range(len(df)):
    if i % 3 == 1:
        df1 = df.iloc[i,1:]
        df1 = df1.value
        df1 = df1.replace('[','')
        df1 = df1.replace(']','')
        df1 = df1.split(',')
        df1 = np.array(df1,dtype=float)
        df3 = df3.append(pd.DataFrame(df1))

In [8]:
df3.shape

(1600000, 1)

In [9]:
type(df3)

pandas.core.frame.DataFrame

In [10]:
q_array = df3.to_numpy()
tmp = []
for r in q_array:
    tmp.append(np.transpose(np.asarray([r])).astype(np.float32))
q_array = np.asarray(tmp.copy())
type(q_array)

numpy.ndarray

In [11]:
q_array = q_array.reshape(4,4,100,1000)
q_array.shape

(4, 4, 100, 1000)

In [13]:
a_array = df2.to_numpy()
tmp2 = []
for i in a_array:
    tmp2.append(np.transpose(np.asarray([i])).astype(np.float32))
a_array = np.asarray(tmp2.copy())

In [14]:
a_array = a_array.reshape(6,1000)
a_array.shape

(6, 1000)