In [17]:
import pandas as pd
import numpy as np
from numpy import save

In [2]:

df = pd.read_csv('/home/ana/Documents/Code/Flexible-Tool/data_3.csv', sep = " ", names = ['name', 'value'])

# df = pd.read_csv('/home/bowen/Documents/Rod_manipulation/Flexible-Tool/data_2.csv', sep = " ", names = ['name', 'value'])

In [3]:

df.dropna(inplace = True)
df

        name                                              value
0          a  [0.33293958 0.8473282  0.15392336 0.29004178 0...
1          q  [[1.0, 0.99992538099, 0.99977404976, 0.9995438...
2      det_J  [0.0, 7.07220859050288e-126, -2.72470521632022...
3          a  [0.71559696 0.81872338 0.58718161 0.49673672 0...
4          q  [[1.0, 0.99993177485, 0.99979535014, 0.9995907...
...      ...                                                ...
61480      q  [[1.0, 0.99990860689, 0.99972379506, 0.9994435...
61481  det_J  [0.0, -4.682170536930135e-136, 2.2714666973773...
61482      a  [1.93747550e-01 7.99483797e-04 9.74408549e-02 ...
61483      q  [[1.0, 1.0000000179, 1.000000068, 1.0000001612...
61484  det_J  [0.0, -8.157192375291071e-132, -1.004244139525...

[61485 rows x 2 columns]

In [4]:
num_rows = df.shape[0]
data_trials = int(num_rows/3)

In [5]:
df2 = pd.DataFrame()
for r in range(len(df)):
    if r % 3 == 0:
        df0 = df.iloc[r,1:]
        df0.value
        df0 = df0.str.strip('[[[ ')
        df0 = df0.str.strip('[]')
        df0 = df0.value.split()
        df0 = np.array(df0,dtype=float)
        df2 = df2.append(pd.DataFrame(df0))

In [6]:
df2.head(12)
df2.shape

(122970, 1)

In [7]:
df2.shape

(122970, 1)

In [8]:
df3 = pd.DataFrame()
for i in range(len(df)):
    if i % 3 == 1:
        df1 = df.iloc[i,1:]
        df1 = df1.value
        df1 = df1.replace('[','')
        df1 = df1.replace(']','')
        df1 = df1.split(',')
        df1 = np.array(df1,dtype=float)
        df3 = df3.append(pd.DataFrame(df1))

In [9]:
df3.shape

(32792000, 1)

In [14]:
### format q_array
q_array = df3.to_numpy()
tmp = []
for r in q_array:
    tmp.append(np.transpose(np.asarray([r])).astype(np.float32))
q_array = np.asarray(tmp.copy())
type(q_array)

q_array = q_array.reshape(data_trials,16,100)
q_array.shape

(20495, 16, 100)

In [15]:
### format a_array
a_array = df2.to_numpy()
tmp2 = []
for i in a_array:
    tmp2.append(np.transpose(np.asarray([i])).astype(np.float32))
a_array = np.asarray(tmp2.copy())

a_array = a_array.reshape(data_trials,6)
a_array.shape

(20495, 6)

In [18]:
### save formatted dataframes to csv
# df3.to_csv("q_df_new.csv")
# df2.to_csv("a_df_new.csv")

### save numpy array to NPY file
save('q_array0', q_array)
save('a_array0', a_array)